.stats input[type='text']{
  text-align: center;
}
.stats label {
  width: 100%;
  text-align: center;
}
.stats p {
  width: 100%;
  text-align: center;
}
.table-skills th:first-child {
  width: 100%;
}
.table-skills td {
  text-align: center;
}
.table-skills td:first-child {
  text-align: left;
}
.table-skills td input[type='text'] {
  text-align: center;
}
.table-weapons th:first-child {
  width: 100%;
}
.table-weapons td {
  text-align: center;
}
.table-weapons td:first-child {
  text-align: left;
}
.table-spells thead tr {
  background-color: #000;
  color: #fff;
}
.table-spells td {
  text-align: center;
}
.table-spells td:first-child {
  text-align: left;
}
.table-spells tr:nth-child(odd) {
  font-weight: bold;
}
.benefits ul {
  padding-left: 16px;
}